<md-content>
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="one">
      <md-content class="md-padding">
        <h1 class="md-display-2">Tab One</h1>
        <p>
          The content for the first tab will go here.
        </p>
        <strong><p>If you scale the size of the screen down you will notice the material will adjust to the size and we used $mdMedia with the 'gt-sm' value to shink the side nav.</p></strong>
      </md-content>
    </md-tab>
    <md-tab label="two">
      <md-content class="md-padding">
        <h1 class="md-display-2">Tab Two</h1>
        <p>The main content for the second tab will go here.</p>
        <p>We will be puting more angular material design here.</p>
      </md-content>
    </md-tab>
    <md-tab label="three">
      <md-content class="md-padding">
        <h1 class="md-display-2">Tab Three</h1>
        <p>More content in tab three.</p>
      </md-content>
    </md-tab>
  </md-tabs>
</md-content>
